<script>
  var requests = "<%= @requests.to_json.gsub("money720808", "money") %>";
  requests = JSON.parse(requests.replace(/&quot;/g, '\"'));
  var deposit = "<%= @deposit.to_json.gsub("money720808", "money") %>";
  deposit = JSON.parse(deposit.replace(/&quot;/g, '\"'));
  var withdraw = "<%= @withdraw.to_json.gsub("money720808", "money") %>";
  withdraw = JSON.parse(withdraw.replace(/&quot;/g, '\"'));
</script>

<main class="main-wrapper clearfix" id="main-request">
  <!-- Page Title Area -->
   <div class="row page-title clearfix">
       <div class="page-title-left">
           <h5 class="mr-0 mr-r-5">รายการฝากถอน</h5>

       </div>
       <!-- /.page-title-left -->
       <div class="page-title-right d-inline-flex">
           <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="<%= root_path %>">หน้าหลัก</a></li>
               <li class="breadcrumb-item"><a href="<%= admin_index_path %>">แอดมิน</a></li>
               <li class="breadcrumb-item active">ฝากถอน</li>
           </ol>
       </div>
       <!-- /.page-title-right -->
   </div>
   <!-- /.page-title -->

  <div class="widget-list">
    <div class="row">
      <div class="col-md-12  widget-holder">
        <div class="widget-bg">
          <div class="widget-body clearfix">
            <div class="tabs">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#deposit" data-toggle="tab" aria-expanded="true">ฝากเงิน</a>
                </li>
                <li class="nav-item" aria-expanded="false">
                  <a class="nav-link" href="#withdraw" data-toggle="tab" aria-expanded="true">ถอนเงิน</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#status" data-toggle="tab" aria-expanded="true">รายการทั้งหมด</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#summary" data-toggle="tab" aria-expanded="true">สรุปยอดรายวัน</a>
                </li>
              </ul>
              <!-- /.nav-tabs -->
              <div class="tab-content">
                <div class="tab-pane active" id="deposit" aria-expanded="false">
                  <%= render 'requests_deposit', deposit: @deposit %>
                </div>
                <div class="tab-pane" id="withdraw" aria-expanded="false">
                  <%= render 'requests_withdraw', withdraw: @withdraw %>
                </div>
                <div class="tab-pane" id="status" aria-expanded="false">
                  <%= render 'requests_all', withdraw: @requests %>
                </div>
                <div class="tab-pane" id="summary" aria-expanded="false">
                  <%= render 'requests_summary'%>
                </div>
              </div>
              <!-- /.tab-content -->
            </div>
            <!-- /.tabs -->
          </div>
          <!-- /.widget-body -->
        </div>
        <!-- /.widget-bg -->
      </div>
    </div>
    <!-- /.row -->
  </div>

</main>


<script src="<%= root_url%>assets/js/admin/requests_168.js"></script>
