<main class="main-wrapper clearfix">
  <!-- Page Title Area -->
  <div class="row page-title clearfix">
    <div class="page-title-left">
      <h5 class="mr-0 mr-r-5">คำถามที่พบบ่อย</h5>

    </div>
    <!-- /.page-title-left -->
    <div class="page-title-right d-inline-flex">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="<%= root_path %>">หน้าหลัก</a>
        </li>
        <li class="breadcrumb-item active">คำถามที่พบบ่อย</li>
      </ol>
    </div>
    <!-- /.page-title-right -->
  </div>
  <!-- /.page-title -->

  <div class="widget-list">
    <div class="row mr-b-1">
      <div class="col-md-12" style="max-width: none;">
        <div class="widget-bg">
          <div class="widget-body clearfix">
            <div class="widget-holder">
              <div class="widget-bg">
                <div class="widget-body clearfix">
                  <div class="accordion accordion-minimal" id="accordion1" role="tablist" aria-multiselectable="true">

                    <div class="card">
                      <div class="card-header" role="tab" id="headingOne">
                        <h5 class="card-title fw-300">
                          <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                            <strong>ขั้นตอนสมัครสมาชิก</strong>
                          </a>
                        </h5>
                      </div>
                      <div id="collapseOne" class="card-collapse collapse" role="tabpanel" aria-labelledby="headingOne" style="">
                        <div class="card-block">
                          1. ไปที่หน้า <%= link_to 'สมัครสมาชิก', new_user_registration_path %><br />
                          2. กรอกข้อมูลในฟอร์มให้ครบถ้วน<br />
                          </br/>
                          <a href="<%= root_url%>assets/images/faq-regis-1.png" data-toggle="lightbox" data-type="image"><img src="<%= root_url%>assets/images/faq-regis-1.png"></a><br />
                          <br />
                          3. ติ๊กเครื่องหมายถูกหน้าช่อง ฉันตรวจสอบข้อมูลและยอมรับเงื่อนไขแล้ว<br />
                          4. กดปุ่มยืนยัน เพื่อยืนยันการสมัครสมาชิก<br />
                          5. ไปที่หน้า <a href="<%= root_url %>users/sign_in">เข้าสู่ระบบ</a> และกรอกข้อมูลเพื่อเข้าสู่ระบบ<br />
                        </div>
                    </div>
                    <div class="card">
                      <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="card-title fw-300">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong>วิธีการแทงหวย</strong>
                          </a>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="">
                        <div class="card-block">
                            1. ไปที่หน้า <%= link_to 'หน้าหลัก', new_user_registration_path %><br />
                            2. เลือกประเภทหวยที่ต้องการแทง จากนั้นกดซื้อหวย<br />
                            </br/>
                            <a href="<%= root_url%>assets/images/faq-bet-1.png" data-toggle="lightbox" data-type="image"><img src="<%= root_url%>assets/images/faq-bet-1.png"></a><br />
                            <br />
                            3. กดที่แท็บแทงหวย<br />
                            </br/>
                            <a href="<%= root_url%>assets/images/faq-bet-2.png" data-toggle="lightbox" data-type="image"><img src="<%= root_url%>assets/images/faq-bet-2.png"></a><br />
                            <br />
                            4. ที่ตารางแทง ช่องเลข ให้ใส่หมายเลขที่ต้องการแทง (1-3 ตัว ขึ้นกับประเภทหวย) สำหรับช่อง บน, ล่าง, โต๊ด, หน้า ให้ใส่จำนวนเงินที่ต้องการแทงของประเภทหวยนั้นๆ (ไม่ต้องมี ,)
                            สามารถเว้นช่องว่างได้ในประเภทที่ไม่ต้องการแทง<br />
                            5. ถ้าจำนวนบรรทัดไม่พอ ให้กดปุ่มเพิ่มบรรทัด<br />
                            6. ตรวจสอบข้อมูล เลขที่แทง และจำนวนเงินที่ต้องการแทงให้ถูกต้อง จากนั้นติ๊กเครื่องหมายถูกหน้าช่อง "ฉันตรวจสอบรายการและยอมรับเงื่อนไขแล้ว" จากนั้นกดปุ่มยืนยันการแทง<br />
                            </br/>
                            <a href="<%= root_url%>assets/images/faq-bet-3.png" data-toggle="lightbox" data-type="image"><img src="<%= root_url%>assets/images/faq-bet-3.png"></a><br />
                            <br />
                            7. เมื่อแทงสำเร็จจะขึ้นหน้าต่างได้รับรายการแทงเรียบร้อย สำหรับเลขที่ถูกอั้น หรือเลขที่มีคนแทงจำนวนมาก อาจขึ้นว่า "ไม่รับแทง" สำหรับเลขนั้น<br />
                            </br/>
                            <a href="<%= root_url%>assets/images/faq-bet-4.png" data-toggle="lightbox" data-type="image"><img src="<%= root_url%>assets/images/faq-bet-4.png"></a><br />
                            <br />
                            8. หากต้องการดูรายการแทงให้กดปุ่ม ดูรายการแทงทั้งหมด หรือ คลิ๊ก <a href="<%= transactions_path %>">รายการแทง</a>
                            </br/>
                            <a href="<%= root_url%>assets/images/faq-bet-5.png" data-toggle="lightbox" data-type="image"><img src="<%= root_url%>assets/images/faq-bet-5.png"></a><br />
                            <br />


                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" role="tab" id="headingThree">
                        <h5 class="card-title fw-300">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <strong>การฝาก / และถอนเงิน</strong>
                          </a>
                        </h5>
                      </div>
                      <div id="collapseThree" class="card-collapse collapse" role="tabpanel" aria-labelledby="headingThree" style="">
                        <div class="card-block">
                          1. ไปที่หน้า <a href="<%= requests_path %>">เติมเงิน</a>
                          2. กรณีฝากเงิน โอนเงินเข้าบัญชีธนาคารที่กำหนด จากนั้นแจ้งรายละเอียดการโอนเงิน เพื่อความรวดเร็วในการตรวจสอบของเจ้าหน้าที่กรุณาโอนมาเป็นเศษสตางค์<br />
                          </br/>
                          <a href="<%= root_url%>assets/images/faq-payment-1.png" data-toggle="lightbox" data-type="image"><img src="<%= root_url%>assets/images/faq-payment-1.png"></a><br />
                          <br />
                          3. กรณีถอนเงิน ให้กดแท็บถอนเงิน แล้วระบุจำนวนเงินที่ต้องการถอน (ยอดถอนขั้นต่ำ 500 บาท)<br />
                          </br/>
                          <a href="<%= root_url%>assets/images/faq-payment-2.png" data-toggle="lightbox" data-type="image"><img src="<%= root_url%>assets/images/faq-payment-2.png"></a><br />
                          <br />

                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" role="tab" id="headingFour">
                        <h5 class="card-title fw-300">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <strong>ตารางการจ่าย</strong>
                          </a>
                        </h5>
                      </div>
                      <div id="collapseFour" class="card-collapse collapse" role="tabpanel" aria-labelledby="headingFour" style="">
                        <div class="card-block" style="max-width:800px; max-height:500px; font-size: 1vw;">
                          <h5>หวยไทย/หวยลาว</h5>
                          <table class="table-striped table-resize"> <thead> <tr class="thead-inverse bg-primary"> <th width="10%">ประเภท</th> <th width="10%">จ่าย</th> <th width="10%">ส่วนลด (%)</th> <th width="10%">ยอดแทงต่ำสุด</th> <th width="10%">ยอดแทงสูงสุด</th> </tr></thead> <tbody> <tr> <td> 3ตัวบน </td><td> 550 </td><td> 33 </td><td> 10 </td><td> 500 </td></tr><tr> <td> 3ตัวโต๊ด </td><td> 105 </td><td> 33 </td><td> 10 </td><td> 500 </td></tr><tr> <td> 3ตัวล่าง </td><td> 250 </td><td> 33 </td><td> 10 </td><td> 500 </td></tr><tr> <td> 3ตัวหน้า </td><td> 250 </td><td> 33 </td><td> 10 </td><td> 500 </td></tr><tr> <td> 2ตัวบน </td><td> 70 </td><td> 28 </td><td> 10 </td><td> 500 </td></tr><tr> <td> 2ตัวล่าง </td><td> 70 </td><td> 28 </td><td> 10 </td><td> 500 </td></tr><tr> <td> วิ่งบน </td><td> 3 </td><td> 12 </td><td> 10 </td><td> 500 </td></tr><tr> <td> วิ่งล่าง </td><td> 4 </td><td> 12 </td><td> 10 </td><td> 500 </td></tr></tbody> </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.accordion -->
                </div>
                <!-- /.widget-body -->
              </div>
              <!-- /.widget-bg -->
            </div>

          </div>
        </div>
        <!-- /.widget-bg -->
      </div>

    </div>
    <!-- /.row -->
  </div>

</main>
